.bold-font{
    font-weight: 700;
}
.price-discounted{
    background-color: #FFDB00;
    box-shadow: 2px 2px 0 0 #cc0008;
    padding: 0.05rem 0.4rem;
}

/* 2nd section colors */
.color1{
    background-color: #476471;
}
.color2{
    background-color: #8195B0;
}
.color3{
    background-color: #727666;
}
.color4{
    background-color: #2E2C2A;
}
.color5{
    background-color: #FDDC05;
}
.color6{
    background-color: #7B9694;
}
.black-font{
    color: #000000;
}
.white-font{
    color: white;
}
hr{
    margin-left: 7.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}