.bold-font{
    font-weight: 700;
}
.price-discounted{
    background-color: #FFDB00;
    box-shadow: 2px 2px 0 0 #cc0008;
    padding: 0.05rem 0.4rem;
}

/* 2nd section colors */
.color1{
    background-color: #E32413;
}
.color2{
    background-color: #282922;
}
.color3{
    background-color: #DDADAC;
}
.color4{
    background-color: #2E2C2A;
}
.color5{
    background-color: #FDDC05;
}
.color6{
    background-color: #7B9694;
}
.black-font{
    color: #000000;
}
.white-font{
    color: white;
}
hr{
    margin-left: 7.3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.ikea-family{
    color: #0077c1;
    display: inline;
    font-size: .75rem;
    font-weight: 700;
    margin-right: .2rem;
    white-space: nowrap;
    background: #fff;
    padding: 0;
}
.bold-p{
    color: #484848;
    font-weight: 700;
}
.btn-global{
    height: 2.5rem;
    padding: 0 1.5rem;
    background: #111;
    border-radius: 64px;
    text-align: center;
    color: #fff;
    font-weight: 600;
    border: 0 solid #111;
    cursor: pointer;
}
.blank-space-bottom{
    margin-bottom: 1rem;
}
.footer-title{
    font-size: 1rem;
    color: #111;
    line-height: 1.5;
    font-weight: 700;
}
.a-global{
    color: #484848;
}