/* section 2 colors */
.color1{
    background-color: #476471;
}
.color2{
    background-color: #8195B0;
}
.color3{
    background-color: #727666;
}
.color4{
    background-color: #2E2C2A;
}
.color5{
    background-color: #FDDC05;
}
.color6{
    background-color: #7B9694;
}