*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header{
    max-width: 100%;
}
/* Header */
/* .black-container */
.black-container{
    height: 2.5rem;
    background-color: black;
    font-size: 0.75rem;
    display: flex;
    justify-content:center;
    align-items: center;
}
.black-container .info{
    margin: 0 2rem;
}
.black-container .info i{
    color: #fff;
}
.black-container .info a{
    color: #fff;
    text-decoration: none;
}
.header-container .navbar img{
    width: 12rem;
    height: 8rem;
}
/* .navbar */
.navbar{
    max-width: 100%;
    height: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img{
    width: 12rem;
    height: 8rem;
    margin-left: -30px;
}
.navbar .header-text ul{
    display: flex;
    margin-left: -50px;
}
.navbar .header-text ul li{
    display:inline-block;
    list-style-type: none;
    font-weight:700;
    padding: 0.625rem 0.9375rem;
    font-size: 0.875rem;
    color: #111;
}
.search-container{
    position: relative;
}
.search-container .field_input{
    background-color: #e2e2e2;
    opacity: 0.5;
    width: 25rem;
    border-radius: 10rem;
    border-width: 0rem;
    padding: 0.8125rem 3.375rem 0.8125rem 2.6rem;
    text-align: left;
    font-size: 1rem;
}
.search-container .fa-search{
    position: absolute;
    z-index: 1;
    top: 13px;
    left: 13px;
    
}
.search-container .fa-camera{
    position: absolute;
    z-index: 1;
    top: 13px;
    right: 15px;
}
.navbar-icons{
    margin-left: 2.5rem;
}
.navbar-icons i{
    padding: 0 1rem;
    color: #111;
}
.navbar i:hover{
    background-color: #e2e2e2;
    border-radius: 60px;
}
.navbar .header-text ul li:hover{
    text-decoration: underline;
}
.navbar-icons a:hover{
    background-color: #e2e2e2;
    border-radius: 40px;
}
/* 1st Section */
#first-section{
    margin-top: 3rem;
    margin-left: 7rem;
    font-size: 0.875rem;
    display: flex;
}
#first-section .article-left img{
    width: 35rem;
    height: 33rem;
}

#first-section .article-right{
    margin-left: 1.5rem;
}
#first-section .article-right img{
    width: 32rem;
    height: 15rem;
}
#first-section .article-right .article{
    margin-bottom: 3rem;
}
/* 2nd Section */
#second-section{
    margin-left: 6.6rem;
    margin-right: 3rem;
}
#second-section h1{
    margin: 1rem 0 2rem 0.4rem;
    font-size: 1.5625em;
    line-height: 1.36;
    letter-spacing: -0.02625rem;
}
#second-section .articles-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#second-section .long-article{
    display: flex;
    flex-direction: column;
}
#second-section .long-article img{
    width: 350px;
    height: 320px;
}
#second-section .long-article .box{
    width: 350px;
    height: 350px;
}
#second-section .long-article .box h2{
    font-weight: bold;
    font-size: 1.5rem;
    text-align: left;
    margin-top: 2rem;
    margin-left: 2rem;
    line-height: 2.5rem;
}
#second-section .long-article .box p{
    margin-bottom: 0 !important;
    margin-left: 2rem;
    margin-right: 1rem;
    line-height: 1.63rem;
}
#second-section .long-article .box .first-arrow{
    margin-top: 140px;
    margin-left: 2rem;
}
#second-section .long-article .box .second-arrow{
    margin-top: 70px;
    margin-left: 2rem;
}
#second-section .long-article .box .third-arrow{
    margin-top: 100px;
    margin-left: 2rem;
}

#second-section .long-article .box .white-circle{
    color: black;
    border: 1px solid white;
    background-color: white;
    padding: 1.2rem 1.2rem;
    border-radius: 3rem;
}
#second-section .long-article .box .black-circle{
    color: white;
    border: 1px solid black;
    background-color: black;
    padding: 1.2rem 1.2rem;
    border-radius: 3rem;
}
#second-section .border{
    border: 1px solid black;
}
/* 3rd Section */
#third-section{
    margin-top: 5rem;
    margin-left: 7.1rem;
    margin-right: 3.9rem;
}
#third-section .articles-container{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#third-section .articles-container img{
    width: 15rem;
}
#third-section .articles-container .article{
    position: relative;
    display: flex;
    flex-direction: column;
}

#third-section .articles-container .btn{
    height: 2.5rem;
    padding: 0 1.5rem;
    font-size: 0.75rem;
    background: #fff;
    border: 0 solid #fff;
    border-radius: 1rem;
    font-weight: bold;
    position: absolute;
    right: 4rem;
    bottom: 2.6rem; 
}
/* 4rd Section */
#fourth-section{
    margin-top: 5rem;
    margin-left: 7.1rem;
    margin-right: 4rem;
}
#fourth-section .articles-container {
    margin-top: 2.1rem;
    display: flex;
    justify-content: space-between;
}

#fourth-section .articles-container img{
    width: 22.1rem;
    height: 13rem;
}
#fourth-section .articles-container p{
    padding-top: 1.25rem;
    margin-bottom: 0.75rem;
    color: #484848;
    font-weight: 400;
    line-height: 1.571;
    font-size: 0.875rem;
}